* {
	margin: 0;
	padding: 0;
}
html {
	text-align: center;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.settings {
	display: flex;
	flex-direction: column;
}

.color_options {
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
	align-items: center;
}
button {
	margin: 1em;
	width: 100px;
}

#container {
	display: grid;
	width: 500px;
	height: 500px;
	background-color: aliceblue;
	margin: 3em auto;
}

.square {
	user-select: none;
}

.sizer {
	display: flex;
	flex-direction: column;
	margin: 1em auto;
}
