@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

:root {
	--color-primary: #e3e3e3;
	--color-secondary: #202125;
	--color-accent: #f41d0c;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	text-align: center;
}
body {
	background-color: var(--color-primary);
	font-family: "Poppins", sans-serif;
}

button,
input {
	width: 100%;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	outline: none;
	margin: 0.5em auto;
}
main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 10vw;
}
h1 {
	margin: 1em auto;
	width: auto;
	font-family: "Caveat", cursive;
	font-size: 3.5em;
	text-transform: uppercase;
	word-spacing: 0.5em;
}

.options {
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	padding: 2em;
}

.color_options {
	display: flex;
	flex-direction: column;
	padding: 1em 2em;
	align-items: center;
}

/* From uiverse.io by @Voxybuns */
button {
	/* Variables */
	--button_radius: 0.75em;
	--button_color: var(--color-primary);
	--button_outline_color: var(--color-secondary);
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
}

.button_top {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

button:hover .button_top {
	/* Pull the button upwards when hovered */
	transform: translateY(-0.33em);
}

button:active .button_top {
	/* Push the button downwards when pressed */
	transform: translateY(0);
}

/* Color input */
input[type="color"] {
	transition: transform 0.1s ease-in-out;
	background-color: var(--color-primary);
	margin-bottom: 1em;
}
input[type="color"]:hover {
	transform: scale(1.05);
}
input[type="color"]:active {
	transition: transform 0.05s ease-in-out;
	transform: scale(1);
}

input[type="color"] {
	-webkit-appearance: none;
	width: 80px;
	height: 80px;
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* End of Color input */

/* Slider */
.sizer {
	display: flex;
	flex-direction: column;
	margin: 1em auto;
}

#sliderValue {
	font-size: 1.25em;
	font-weight: 500;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: var(--color-primary);
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 10px;
	border: 2px solid var(--color-secondary);
	border-radius: 25px;
	background: var(--color-primary);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	border-radius: 25px;
	margin-top: -8px;
	background: var(--color-accent);
}
/* End of Slider */

#container {
	display: grid;
	width: 500px;
	height: 500px;
	background-color: whitesmoke;
	border: 3px solid var(--color-secondary);
	border-radius: 5px;
}

.square {
	user-select: none;
}

/* Responsive */
@media screen and (max-width: 1016px) {
	main {
		margin: 0 20px;
	}
	#container {
		display: grid;
		width: 400px;
		height: 400px;
		background-color: whitesmoke;
		border: 3px solid var(--color-secondary);
		border-radius: 3px;
	}
	.options {
		font-size: 0.9em;
	}
	h1 {
		font-size: 2.75em;
	}
}
@media screen and (max-width: 746px) {
	main {
		margin: 0 10px;
	}
	#container {
		display: grid;
		width: 350px;
		height: 350px;
		background-color: whitesmoke;
		border: 3px solid var(--color-secondary);
		border-radius: 3px;
	}
	.options {
		font-size: 0.8em;
	}
	h1 {
		font-size: 2.5em;
	}
}
@media screen and (max-width: 512px) {
	main {
		margin: 0 10px;
		flex-direction: column-reverse;
	}
	#container {
		display: grid;
		width: 350px;
		height: 350px;
		background-color: whitesmoke;
		border: 3px solid var(--color-secondary);
		border-radius: 3px;
	}
	.options {
		font-size: 1em;
	}
	.color_options {
		flex-direction: row;
		flex-wrap: wrap;
	}
	h1 {
		font-size: 2.5em;
	}
}
/* End of Responsive */
